@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<style>
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
</style>
  <script src="~/js/custom.js" asp-append-version="true"></script>
  <script>
function on() {
  document.getElementById("overlay").style.display = "blox";
}
}

@section  Scripts{
    <script type="text/javascript">
        function downloadvideo() {
            var url = $("#vurl").attr('href');
            window.location.href = "../Get?url=" + url;
        }
    </script>
}
function off() {
  document.getElementById("overlay").style.display = "none";
}
</script>
  <script src="~/js/plugins.js" asp-append-version="true"></script>
  <script src="~/js/plugins.js" asp-append-version="true"></script>
<div class="hero mv-single-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12" width=100>
				<a id="vurl" href=@ViewBag.Film.UrlFilm hidden="true">Play Video</a>
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<div id="overlay" onclick="off()">
<video controls>
  <source src="https://firebasestorage.googleapis.com/v0/b/tester-9c0ed.appspot.com/o/635a4db257fca0860c934f10c81cd6e3.mp4?alt=media&token=8c058995-9bcb-4957-86af-4e67574a068d" type="video/mp4">
  <source src="mov_bbb.ogg" type="video/ogg">
  Your browser does not support HTML video.
</video>
</div>
<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img">
					<img src=@ViewBag.Film.UrlImg alt="">
					<div class="movie-btn">	
						<div class="btn-transform transform-vertical red">
							<div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a></div>
							<div><a href="https://www.youtube.com/watch?v=WJSvlddWvrA" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
						</div>
						<div class="btn-transform transform-vertical">
							<div><a src=@ViewBag.Film.UrlFilm   class="item item-1 yellowbtn"> <i  class="ion-card"></i>  Watch Movie</a></div>
						.	
							<div><a  asp-controller="playfilmController1" asp-action="Index" asp-route-id=@ViewBag.Film.IdFilm class="item item-2 yellowbtn"><i class="ion-card"></i></a></div>
						</div>
						<br/>
								<div class="btn-transform ">
						<button class="item item-1 redbtn" onclick="downloadvideo()" >Download Film</button>
					
								</div>
										</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd">@ViewBag.Film.Name <span>@ViewBag.Film.YearPublic</span></h1>
					<div class="social-btn">
						<a href="#" class="parent-btn"><i class="ion-heart"></i> Add to Favorite</a>
						<div class="hover-bnt">
							<a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>share</a>
							<div class="hvr-item">
								<a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
								<a href="#" class="hvr-grow"><i class="ion-social-twitter"></i></a>
								<a href="#" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
								<a href="#" class="hvr-grow"><i class="ion-social-youtube"></i></a>
							</div>
						</div>		
					</div>
					<div class="movie-rate">
						<div class="rate">
							<i class="ion-android-star"></i>
							<p><span>8.1</span> /10<br>
								<span class="rv">56 Reviews</span>
							</p>
						</div>
						<div class="rate-star">
							<p>Rate This Movie:  </p>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star-outline"></i>
						</div>
					</div>
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#overview">Overview</a></li>
								<li><a href="#cast">  Cast & Crew </a></li>
							</ul>
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
											<div class="title-hd-sm">
												<h4>Decription</h4>
											</div>
											<div class="mvsingle-item ov-item">
												<p>@ViewBag.Film.Description</p>
										</div>
											<div class="title-hd-sm">
												<h4>cast</h4>
											</div>
											<!-- movie cast -->
											<div class="mvcast-item">											
										@foreach(var item in ViewBag.director){
												<div class="cast-it">
													<div class="cast-left">
														<img src=@item.UrlImg width=40 alt="">
														<a asp-controller="detail" asp-action="Index" asp-route-id=@item.Id>@item.Name</a>
													</div>
													<p>Director</p>
												</div>
										}
											
											</div>
											
											<!-- movie user review -->
														            	</div>
						            	<div class="col-md-4 col-xs-12 col-sm-12">
						            		<div class="sb-it">
						            			<h6>Director: </h6>
												@foreach(var item in ViewBag.director){

						            			<p><a href="#">@item.Name</a></p>
										}
						            		</div>
						            		
						            		<div class="sb-it">
						            			<h6>Stars: </h6>
										
						            			<p>
																	@foreach(var item in ViewBag.actor){

											<a href="#">@item.Name ,</a>
										} </p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Genres:</h6>
						            			<p><a href="#">Action, </a> <a href="#"> Sci-Fi,</a> <a href="#">Adventure</a></p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Release Date:</h6>
						            			<p>May 1, @ViewBag.Film.YearPublic (U.S.A)</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>MMPA Rating:</h6>
						            			<p>PG-@ViewBag.Film.AgeLimit</p>
						            		</div>
						            		<div class="ads">
												<img src="~/images/uploads/ads1.png" alt="">
											</div>
						            	</div>
						            </div>
						        </div>
						        <div id="cast" class="tab">
						        	<div class="row">
						            	<h3>Cast & Crew of</h3>
					       	 			<h2>Avengers: Age of Ultron</h2>
										<!-- //== -->
					       	 			<div class="title-hd-sm">
											<h4>Directors & Credit Writers</h4>
										</div>
										
										<div class="mvcast-item">											
													@foreach(var item in ViewBag.director){
												<div class="cast-it">
													<div class="cast-left">
														<img src=@item.UrlImg width=40 alt="">
														<a href="#">@item.Name</a>
													</div>
													<p>Director</p>
												</div>
										}
										</div>
										<!-- //== -->
										
										<!-- //== -->
										<div class="title-hd-sm">
											<h4>Actor</h4>
										</div>
										<div class="mvcast-item">											
														@foreach(var item in ViewBag.Actor){
												<div class="cast-it">
													<div class="cast-left">
														<img src=@item.UrlImg width=40 alt="">
														<a href="#">@item.Name</a>
													</div>
													<p>Actor</p>
												</div>
										}
						            </div>
					       	 	</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>